<div class="row">
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Assignment Overrule:</label>
      <div class="col-sm-8">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            <i class="input-helper"></i>
          </label>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Assigned To:</label>
      <div class="col-sm-8">

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">First Call Resolution:</label>
      <div class="col-sm-8">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            <i class="input-helper"></i>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Source:</label>
      <div class="col-sm-8">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Type:</label>
      <div class="col-sm-8">

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Category:</label>
      <div class="col-sm-8">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Product Services:</label>
      <div class="col-sm-8">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nature:</label>
      <div class="col-sm-8">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Subject:</label>
      <div class="col-sm-8">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Ticket Number:</label>
      <div class="col-sm-8">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Status:</label>
      <div class="col-sm-8">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Priority:</label>
      <div class="col-sm-8">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Non Customer:</label>
      <div class="col-sm-8">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            <i class="input-helper"></i>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Customer:</label>
      <div class="col-sm-8">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Accounts:</label>
      <div class="col-sm-8">

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Do not send notification:</label>
      <div class="col-sm-8">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            <i class="input-helper"></i>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Assigned to:</label>
      <div class="col-sm-9">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Description:</label>
      <div class="col-sm-8">

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Resolution:</label>
      <div class="col-sm-8">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Additional Comments:</label>
      <div class="col-sm-8">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Tickets:</label>
      <div class="col-sm-8">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Created By Employee ID:</label>
      <div class="col-sm-8">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Modified By Employee ID:</label>
      <div class="col-sm-8">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Date Created:</label>
      <div class="col-sm-8">

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Created By:</label>
      <div class="col-sm-8">
      </div>
    </div>
  </div>
</div>
