.card-header span button {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
}

.card-header span {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
}

label {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 12px !important;
}

.card-body {
  padding: 10px !important;
}

