<div style="text-align: center">
  <a><img src="assets/images/faces/user.png"
          name="aboutme"
          class="profile-img"></a>
  <hr>
</div>
<div class="cus-detail">
  <div class="row">
    <div class="col-md-6">
      <p><strong>Customer Full Name:</strong></p>
    </div>
    <div class="col-md-6" *ngIf="customerProfile">
      <p>{{customerProfile.fullName}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p><strong>Customer Short Name:</strong></p>
    </div>
    <div class="col-md-6">
<!--      <p>Kshiti123</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p><strong>City:</strong></p>
    </div>
    <div class="col-md-6" *ngIf="customerProfile">
      <p>{{customerProfile.city}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p><strong>NIC Number:</strong></p>
    </div>
    <div class="col-md-6" *ngIf="customerProfile">
      <p>{{customerProfile.nicOrPassport}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p><strong>Passport Number:</strong></p>
    </div>
    <div class="col-md-6">
<!--      <p>Kshiti123</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p><strong>Driving License Number:</strong></p>
    </div>
    <div class="col-md-6">
<!--      <p>Kshiti123</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p><strong>Date Of Birth:</strong></p>
    </div>
    <div class="col-md-6">
<!--      <p>Kshiti123</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p><strong>Gender:</strong></p>
    </div>
    <div class="col-md-6">
<!--      <p>Kshiti123</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p><strong>Martial Status:</strong></p>
    </div>
    <div class="col-md-6">
      <!--      <p>Kshiti123</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p><strong>Last Contact Date:</strong></p>
    </div>
    <div class="col-md-6">
      <!--      <p>Kshiti123</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p><strong>Customer Category:</strong></p>
    </div>
    <div class="col-md-6">
      <!--      <p>Kshiti123</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p><strong>Customer Priority:</strong></p>
    </div>
    <div class="col-md-6">
      <!--      <p>Kshiti123</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p><strong>Sensitive Category:</strong></p>
    </div>
    <div class="col-md-6">
      <!--      <p>Kshiti123</p>-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p><strong>Ethnic Group:</strong></p>
    </div>
    <div class="col-md-6">
      <!--      <p>Kshiti123</p>-->
    </div>
  </div>
</div>
