<div class="table-responsive">
  <table class="table">
    <tbody>
    <tr>
      <td>
        <span><a routerLink="ticket/ticket-complaint" target="_blank">Complaint</a></span> |
        <span>11092020005</span> |
        <span><div class="badge badge-warning badge-pill">Reopen</div></span> |
        <span>11/09/20</span>
      </td>
      <td>
      <span class="float-right">
          <fa-icon [icon]="edit" size="lg" class="mr-2" style="color: lightblue"></fa-icon>
      </span>
      </td>
    </tr>
    <tr>
      <td>
        <span><a routerLink="ticket/ticket-complaint" target="_blank">Complaint</a></span> |
        <span>11092020004</span> |
        <span><div class="badge badge-danger badge-pill">Closed</div></span> |
        <span>11/09/20</span>
      </td>
      <td>
      <span class="float-right">
          <fa-icon [icon]="edit" size="lg" class="mr-2" style="color: lightblue"></fa-icon>
      </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
