<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>
        Ticket Number
      </th>
      <th>
        Subject
      </th>
      <th>
        Type
      </th>
      <th>
        Status
      </th>
      <th>
        Priority
      </th>
      <th>
        Date Created
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="py-1">
        041220200000007
      </td>
      <td>
        Service Request - Credit Card-Upgrade-Without
        Limit Enhancement
      </td>
      <td>
        <span><div class="badge badge-warning badge-pill">Reopen</div></span>
      </td>
      <td>
        <span><div class="badge badge-warning badge-pill">Reopen</div></span>
      </td>
      <td>
        High
      </td>
      <td>
        May 15, 2015
      </td>
    </tr>
    <tr>
      <td class="py-1">
        041220200000008
      </td>
      <td>
        Messsy Adam
      </td>
      <td>
        <span><div class="badge badge-warning badge-pill">Reopen</div></span>
      </td>
      <td>
        <span><div class="badge badge-warning badge-pill">Reopen</div></span>
      </td>
      <td>
        High
      </td>
      <td>
        May 15, 2015
      </td>
    </tr>
    <tr>
      <td class="py-1">
        041220200000009
      </td>
      <td>
        John Richards
      </td>
      <td>
        <span><div class="badge badge-warning badge-pill">Reopen</div></span>
      </td>
      <td>
        <span><div class="badge badge-warning badge-pill">Reopen</div></span>
      </td>
      <td>

      </td>
      <td>
        May 15, 2015
      </td>
    </tr>
    <tr>
      <td class="py-1">
        041220200000010
      </td>
      <td>
        Peter Meggik
      </td>
      <td>
        <span><div class="badge badge-warning badge-pill">Reopen</div></span>
      </td>
      <td>
        <span><div class="badge badge-warning badge-pill">Reopen</div></span>
      </td>
      <td>
        High
      </td>
      <td>
        May 15, 2015
      </td>
    </tr>
    </tbody>
  </table>
</div>
