<div class="table-responsive">
  <table class="table">
    <tbody>
    <tr>
      <td>
        <span><a href="#">000600096</a></span> |
        <span>Open</span> |
        <span>WELLAWATTA BRANCH</span>
      </td>
      <td>
      <span class="float-right">
          <fa-icon [icon]="file" size="lg" class="mr-2" style="color: lightgreen"></fa-icon>
          <fa-icon [icon]="list" size="lg" class="mr-2" style="color: lightgreen"></fa-icon>
          <fa-icon [icon]="plusSquare" size="lg" class="mr-2" style="color: lightgreen"></fa-icon>
      </span>

      </td>
    </tr>
    <tr>
      <td>
        <span><a href="#">000600096</a></span> |
        <span>Open</span> |
        <span>WELLAWATTA BRANCH</span>
      </td>
      <td>
      <span class="float-right">
          <fa-icon [icon]="file" size="lg" class="mr-2" style="color: lightgreen"></fa-icon>
          <fa-icon [icon]="list" size="lg" class="mr-2" style="color: lightgreen"></fa-icon>
          <fa-icon [icon]="plusSquare" size="lg" class="mr-2" style="color: lightgreen"></fa-icon>
      </span>

      </td>
    </tr>
    <tr>
      <td >
        <span><a href="#">000600096</a></span> |
        <span>Open</span> |
        <span>WELLAWATTA BRANCH</span>
      </td>
      <td>
      <span class="float-right">
          <fa-icon [icon]="file" size="lg" class="mr-2" style="color: lightgreen"></fa-icon>
          <fa-icon [icon]="list" size="lg" class="mr-2" style="color: lightgreen"></fa-icon>
          <fa-icon [icon]="plusSquare" size="lg" class="mr-2" style="color: lightgreen"></fa-icon>
      </span>

      </td>
    </tr>
    </tbody>
  </table>
</div>

