<div class="table-responsive">
  <table class="table">
    <tbody>
    <tr>
      <td>
        <span><a href="#">535922******7506</a></span> |
        <span>Active</span>
      </td>
      <td>
      <span class="float-right">
          <fa-icon [icon]="plusSquare" size="lg" class="mr-2" style="color: lightgreen"></fa-icon>
      </span>
      </td>
    </tr>
    <tr>
      <td>
        <span><a href="#">421689******4191</a></span> |
        <span>Active</span>
      </td>
      <td>
      <span class="float-right">
          <fa-icon [icon]="plusSquare" size="lg" class="mr-2" style="color: lightgreen"></fa-icon>
      </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
